CREATE DATABASE [DWH_TAX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DWH_TAX', FILENAME = N'D:\MSSQL14.TXBIDB\MSSQL\DATA\DWH_TAX.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DWH_TAX_log', FILENAME = N'D:\MSSQL14.TXBIDB\MSSQL\DATA\DWH_TAX_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 COLLATE Arabic_100_CI_AI
GO
USE [DWH_TAX]
GO
USE [DWH_TAX]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [DWH_TAX] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
