USE [SmartPackage]
GO
/****** Object:  SqlAssembly [ManagedCodeAndSQLServer]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE ASSEMBLY [ManagedCodeAndSQLServer]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103007791895E0000000000000000E00022200B013000000C000000080000000000003E2B0000002000000040000000000010002000000002000004000000000000000400000000000000008000000002000000000000030040850000100000100000000010000010000000000000100000000000000000000000EC2A00004F000000004000005804000000000000000000000000000000000000006000000C000000B42900001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000440B000000200000000C000000020000000000000000000000000000200000602E72737263000000580400000040000000060000000E0000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001400000000000000000000000000004000004200000000000000000000000000000000202B0000000000004800000002000500282100008C08000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002602281000000A00002A0000133005006300000001000011000214FE01130411042C0C007201000070731100000A7A021F1020E8030000731200000A0C086F1300000A0A081F206F1400000A0B1F318D160000010D061609171F10281500000A000716091F111F20281500000A0009281600000A13052B0011052A0013300300270000000200001100120072130000700F00FE16120000016F1700000A281800000A281900000A030681120000012A00133001001900000003000011000F00281A00000A28020000060A06731900000A0B2B00072A00000042534A4201000100000000000C00000076322E302E35303732370000000005006C000000BC020000237E000028030000B403000023537472696E677300000000DC060000280000002355530004070000100000002347554944000000140700007801000023426C6F620000000000000002000001571D02000900000000FA013300160000010000001A000000020000000300000004000000040000001A000000030000000F0000000300000001000000020000000000160201000000000006003E01E1020600AB01E10206006000AF020F00010300000600880039020600210139020600ED00390206009201390206005E0139020600770139020600B500390206007400C20206005200C2020600D000390206005F033202060025038D030A009F0076020A00F00110030A000C01760206004B02320206002C038D030600C901320206006F02320206008703320206007F0332020600FC013202000000000100000000000100010001001000410391023D000100010051806F0377005180030277005180D80177005020000000008618A902060001005C200000000096001F007A000100CC2000000000960035007F0002000021000000009600610288000400000001002C00000001004A000200020040000000010053030900A90201001100A90206001900A9020A002900A90210003100A90210003900A90210004100A90210004900A90210005100A90210005900A90210006100A90215006900A90210007100A90210008900A90206009900A90206007900A9020600A100A90210008100A9022700810066032E00A90038033300B900AA033900C900E10144007900FA014F00D100580353009100A90210009100CE014F00080004006800080008006D0008000C0072002E000B008F002E00130098002E001B00B7002E002300C0002E002B00DD002E003300DD002E003B00E3002E004300C0002E004B0005012E005300DD002E005B00DD002E00630039012E006B00630160007300700180007B0070011A004A005900048000000100000000000000000000000000910200000200000000000000000000005F001600000000000200000000000000000000005F000A000000000000000000003C4D6F64756C653E0053797374656D2E44617461006D73636F726C6962004861736850617373776F72640070617373776F7264004765744D657373616765007374724D6573736765007374724E616D6500477569644174747269627574650044656275676761626C6541747472696275746500436F6D56697369626C6541747472696275746500417373656D626C795469746C654174747269627574650053716C50726F63656475726541747472696275746500417373656D626C7954726164656D61726B41747472696275746500417373656D626C7946696C6556657273696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E4174747269627574650053716C46756E6374696F6E41747472696275746500417373656D626C794465736372697074696F6E41747472696275746500436F6D70696C6174696F6E52656C61786174696F6E7341747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C79436F6D70616E794174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650042797465006765745F56616C75650053616C7453697A6500546F426173653634537472696E670053716C537472696E6700546F537472696E670050424B4446325375626B65794C656E677468004D616E61676564436F6465416E6453514C5365727665722E646C6C0053797374656D0053797374656D2E5265666C656374696F6E00417267756D656E744E756C6C457863657074696F6E004765744D65737361676546756E00427566666572004D6963726F736F66742E53716C5365727665722E536572766572004D616E61676564436F6465416E6453514C536572766572002E63746F720053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E496E7465726F7053657276696365730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F6465730053797374656D2E446174612E53716C547970657300526663323839384465726976654279746573004765744279746573004261736546756E6374696F6E436C617373007061737300436F6E636174004F626A656374006765745F53616C740050424B44463249746572436F756E7400436F6E766572740041727261790053797374656D2E53656375726974792E43727970746F67726170687900426C6F636B436F7079000011700061007300730077006F00720064000013570065006C0063006F006D0065002C00200000000AFB766E170C164FA2F9F18C67E0782700042001010803200001052001011111042001010E04200101020C07061D051D0512411D05020E062003010E08080420001D050520011D05080A000501126108126108080500010E1D0504070111490320000E0500020E0E0E0507020E114908B77A5C561934E08904E8030000042000000004100000000206080400010E0E080002011149101149060001114911490801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F7773010801000701000000001C0100174D616E61676564436F6465416E6453514C53657276657200000501000000002101001C4761746577617920546563686E6F6C616273205076742E204C74642E00003301002E436F7079726967687420C2A9204761746577617920546563686E6F6C616273205076742E204C74642E203230303700002901002461343038616532302D383436662D346665302D623964302D32643164653330636261633500000C010007312E302E302E3000000401000000000000000000007691895E00000000020000001C010000D0290000D00B000052534453D5771F5E59165A48AF2E0277F5366B3A01000000453A5C4D616E61676564436F6465416E6453514C5365727665725C4D616E61676564436F6465416E6453514C5365727665725C6F626A5C44656275675C4D616E61676564436F6465416E6453514C5365727665722E70646200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000142B000000000000000000002E2B0000002000000000000000000000000000000000000000000000202B0000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF2500200010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000FC0300000000000000000000FC0334000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000001000000000000000100000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B0045C030000010053007400720069006E006700460069006C00650049006E0066006F0000003803000001003000300030003000300034006200300000001A000100010043006F006D006D0065006E00740073000000000000005A001D00010043006F006D00700061006E0079004E0061006D006500000000004700610074006500770061007900200054006500630068006E006F006C0061006200730020005000760074002E0020004C00740064002E0000000000580018000100460069006C0065004400650073006300720069007000740069006F006E00000000004D0061006E00610067006500640043006F006400650041006E006400530051004C005300650072007600650072000000300008000100460069006C006500560065007200730069006F006E000000000031002E0030002E0030002E003000000058001C00010049006E007400650072006E0061006C004E0061006D00650000004D0061006E00610067006500640043006F006400650041006E006400530051004C005300650072007600650072002E0064006C006C00000080002E0001004C006500670061006C0043006F007000790072006900670068007400000043006F0070007900720069006700680074002000A90020004700610074006500770061007900200054006500630068006E006F006C0061006200730020005000760074002E0020004C00740064002E002000320030003000370000002A00010001004C006500670061006C00540072006100640065006D00610072006B007300000000000000000060001C0001004F0072006900670069006E0061006C00460069006C0065006E0061006D00650000004D0061006E00610067006500640043006F006400650041006E006400530051004C005300650072007600650072002E0064006C006C000000500018000100500072006F0064007500630074004E0061006D006500000000004D0061006E00610067006500640043006F006400650041006E006400530051004C005300650072007600650072000000340008000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0030002E00300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000403B00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = UNSAFE
GO
/****** Object:  UserDefinedFunction [dbo].[GetMessageFunNew]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[GetMessageFunNew](@name [nvarchar](200))
RETURNS [nvarchar](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [ManagedCodeAndSQLServer].[ManagedCodeAndSQLServer.BaseFunctionClass].[GetMessageFun]
GO
/****** Object:  UserDefinedFunction [dbo].[udf_GetArabicNumbers]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[udf_GetArabicNumbers] (@num varchar(50))
  RETURNS nvarchar(50)
AS
BEGIN
declare @Output nvarchar(50);
declare @Result nvarchar(50);
declare @Ones Nvarchar(1);
declare @len int;
declare @index int;

set @len = len(@num);
set @index = 1;
SET @OUTPUT = N'';

  while(@len >  0)
  begin
set @Ones = SUBSTRING(@num, @index, 1)

set @index = @index + 1;
set @len = @len - 1;

if @Ones ='١' 
begin
set @Result = N'1'
end
else if @Ones ='٢'
begin
set @Result =N'2'
end
else if @Ones = '٣'
begin
set @Result = N'3'
end
else if @Ones ='٤' 
begin
set @Result = N'4'
end
else if @Ones ='٥'
begin
set @Result = N'5'
end
else if @Ones ='٦'
begin
set @Result =  N'6'
end
else if @Ones ='٧'
begin
set @Result =  N'7'
end
else if @Ones ='٨'
begin
set @Result =  N'8'
end
else if @Ones ='٩' 
begin
set @Result = N'9'
end
else if @Ones = '٠'
begin
set @Result = N'0'
end
else
begin
set @Result = @Ones
end

set @Output = CAST(@Output AS NVARCHAR(50)) + CAST(@Result AS NVARCHAR(50));
 end

return @Output;

end

GO
/****** Object:  Table [dbo].[Taxpayer]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taxpayer](
	[Taxpayer_Id] [uniqueidentifier] NOT NULL,
	[Unique_Tax_Id] [nchar](9) NOT NULL,
	[Taxpayer_Name] [nvarchar](100) NOT NULL,
	[Taxpayer_Address] [nvarchar](100) NULL,
	[Taxpayer_ContactAddress] [nvarchar](100) NULL,
	[Fk_Taxpayer_Type] [int] NULL,
	[Fk_Taxpayer_Category_Id] [int] NULL,
	[Taxpayer_Email] [nvarchar](50) NULL,
	[Taxpayer_Telephone] [nchar](20) NULL,
	[Taxpayer_Fax] [nchar](20) NULL,
	[National_Id] [nchar](14) NULL,
	[Create_Date] [datetime] NULL,
	[Modify_Date] [datetime] NULL,
	[Email_Confirmation_Code] [nvarchar](100) NOT NULL,
	[Email_IsConfirmed] [bit] NOT NULL,
	[Account_IsConfirmed] [bit] NOT NULL,
	[District] [varchar](3) NULL,
	[AgentName] [nvarchar](50) NULL,
	[AgentNationalId] [nvarchar](14) NULL,
	[AuthNum] [nvarchar](50) NULL,
	[IsValueAdded] [bit] NULL,
	[IsTableItem] [bit] NULL,
	[DistrictVAT] [varchar](3) NULL,
	[Nationality] [int] NULL,
	[licenceNum] [varchar](12) NULL,
	[firstName] [varchar](50) NULL,
	[secondName] [varchar](50) NULL,
	[thirdName] [varchar](50) NULL,
	[forthName] [varchar](50) NULL,
	[BirthDate] [date] NULL,
	[commercialRegisterNum] [varchar](50) NULL,
	[insuranceNum] [varchar](50) NULL,
	[bankName] [varchar](50) NULL,
	[bankBranchName] [varchar](50) NULL,
	[bankAccountNum] [varchar](50) NULL,
	[financialYearEnd] [char](5) NULL,
	[EconomicCategory] [int] NULL,
	[IsUpdated] [bit] NOT NULL,
	[PostalCode] [varchar](50) NULL,
	[CompanyName] [varchar](100) NULL,
	[MangerName] [varchar](100) NULL,
	[TradeName] [varchar](100) NULL,
	[PassportNum] [nvarchar](50) NULL,
	[SubscriptionEndDate] [date] NULL,
	[Old_UniqueTaxId] [nchar](9) NULL,
	[ModifiedDate_UTId] [datetime] NULL,
	[IsEarnWork] [bit] NULL,
	[NumOfEmployees] [int] NULL,
	[DateOfLastPaid] [date] NULL,
	[Website] [nvarchar](150) NULL,
	[Taxpayer_Mobile] [nchar](20) NULL,
	[IsDataUpdated] [bit] NULL,
	[FreeProfessionstType] [int] NULL,
 CONSTRAINT [PK_Taxpayer] PRIMARY KEY CLUSTERED 
(
	[Taxpayer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[_dta_mv_69]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[_dta_mv_69] WITH SCHEMABINDING
 AS 
SELECT  [dbo].[Taxpayer].[Unique_Tax_Id] as _col_1,  [dbo].[Taxpayer].[Taxpayer_Name] as _col_2,  [dbo].[Taxpayer].[Taxpayer_Address] as _col_3,  [dbo].[Taxpayer].[Taxpayer_Email] as _col_4,  [dbo].[Taxpayer].[Taxpayer_Telephone] as _col_5,  count_big(*) as _col_6 FROM  [dbo].[Taxpayer]   GROUP BY  [dbo].[Taxpayer].[Unique_Tax_Id],  [dbo].[Taxpayer].[Taxpayer_Name],  [dbo].[Taxpayer].[Taxpayer_Address],  [dbo].[Taxpayer].[Taxpayer_Email],  [dbo].[Taxpayer].[Taxpayer_Telephone]  

GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [_dta_index__dta_mv_69_c_6_295672101__K1_K2_K3_K4_K5]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_69_c_6_295672101__K1_K2_K3_K4_K5] ON [dbo].[_dta_mv_69]
(
	[_col_1] ASC,
	[_col_2] ASC,
	[_col_3] ASC,
	[_col_4] ASC,
	[_col_5] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  View [dbo].[_dta_mv_30]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[_dta_mv_30] WITH SCHEMABINDING
 AS 
SELECT  [dbo].[Taxpayer].[Create_Date] as _col_1,  [dbo].[Taxpayer].[Fk_Taxpayer_Type] as _col_2,  [dbo].[Taxpayer].[Unique_Tax_Id] as _col_3,  count_big(*) as _col_4 FROM  [dbo].[Taxpayer]   GROUP BY  [dbo].[Taxpayer].[Create_Date],  [dbo].[Taxpayer].[Fk_Taxpayer_Type],  [dbo].[Taxpayer].[Unique_Tax_Id]  

GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [_dta_index__dta_mv_30_c_6_39671189__K1_K2_K3]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_30_c_6_39671189__K1_K2_K3] ON [dbo].[_dta_mv_30]
(
	[_col_1] ASC,
	[_col_2] ASC,
	[_col_3] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  View [dbo].[_dta_mv_17]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[_dta_mv_17] WITH SCHEMABINDING
 AS 
SELECT  [dbo].[Taxpayer].[Unique_Tax_Id] as _col_1,  [dbo].[Taxpayer].[Create_Date] as _col_2,  count_big(*) as _col_3 FROM  [dbo].[Taxpayer]   GROUP BY  [dbo].[Taxpayer].[Unique_Tax_Id],  [dbo].[Taxpayer].[Create_Date]  

GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [_dta_index__dta_mv_17_c_6_2123154609__K2_K1]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_17_c_6_2123154609__K2_K1] ON [dbo].[_dta_mv_17]
(
	[_col_2] ASC,
	[_col_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  View [dbo].[_dta_mv_39]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[_dta_mv_39] WITH SCHEMABINDING
 AS 
SELECT  [dbo].[Taxpayer].[Fk_Taxpayer_Type] as _col_1,  [dbo].[Taxpayer].[Unique_Tax_Id] as _col_2,  count_big(*) as _col_3 FROM  [dbo].[Taxpayer]   GROUP BY  [dbo].[Taxpayer].[Fk_Taxpayer_Type],  [dbo].[Taxpayer].[Unique_Tax_Id]  

GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [_dta_index__dta_mv_39_c_6_71671303__K1_K2]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE UNIQUE CLUSTERED INDEX [_dta_index__dta_mv_39_c_6_71671303__K1_K2] ON [dbo].[_dta_mv_39]
(
	[_col_1] ASC,
	[_col_2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accountants]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accountants](
	[Acc_Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Acc_Name] [nvarchar](100) NULL,
	[Acc_Office_Name] [nvarchar](100) NULL,
	[Acc_Address] [nvarchar](100) NULL,
	[Acc_Enrollment_Number] [nchar](20) NULL,
	[Acc_Office_Unique_Number] [nvarchar](9) NULL,
	[Acc_Email] [nvarchar](100) NULL,
	[Acc_National_Id] [nchar](14) NULL,
	[IsUpdated] [bit] NULL,
 CONSTRAINT [PK_Accountants] PRIMARY KEY CLUSTERED 
(
	[Acc_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [uniqueidentifier] NOT NULL,
	[TaxpayerId] [uniqueidentifier] NULL,
	[HasBranches] [bit] NULL,
	[BranchesCount] [int] NULL,
	[HasStock] [bit] NULL,
	[StockCount] [int] NULL,
	[CreationDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsUpdated] [bit] NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangeEmailRequest]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeEmailRequest](
	[RequestId] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UniqueTaxId] [nchar](9) NOT NULL,
	[TaxpayerName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[StatusId] [tinyint] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[DateUpdated] [datetime] NULL,
 CONSTRAINT [PK_ChangeEmailRequest] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangeEmailRequestLkp]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeEmailRequestLkp](
	[Id] [tinyint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ChangeEmailRequestLkp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistrictsAccounts]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistrictsAccounts](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[AccountName] [nvarchar](50) NOT NULL,
	[AccountPassword] [nvarchar](50) NOT NULL,
	[District] [int] NOT NULL,
 CONSTRAINT [PK_DistrictsAccounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DistrictsDetails]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistrictsDetails](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[District_Code] [varchar](3) NULL,
	[District_Name] [nvarchar](150) NULL,
	[District_Account] [nvarchar](50) NULL,
 CONSTRAINT [PK_DistrictsDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EconomicCategoryLkp]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EconomicCategoryLkp](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[economicCategoryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EconomicCategory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileNumberStatus]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileNumberStatus](
	[ID] [uniqueidentifier] NOT NULL,
	[TaxpayerId] [uniqueidentifier] NULL,
	[UniqueTaxId] [nchar](9) NULL,
	[FileNumber] [nvarchar](16) NULL,
	[Status] [bit] NULL,
	[IsSelected] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreationDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[MasterStatus] [bit] NULL,
 CONSTRAINT [PK_FileNumberStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fwt1634]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fwt1634](
	[Id] [nvarchar](255) NULL,
	[Service_Provider_Id] [nvarchar](255) NULL,
	[Service_Provider_Code] [nvarchar](255) NULL,
	[Service_Provider_Name] [nvarchar](255) NULL,
	[Payment_Service_Id] [nvarchar](255) NULL,
	[Payment_Service_Code] [nvarchar](255) NULL,
	[Payment_Service_Name] [nvarchar](255) NULL,
	[Payment_Service_Language_Id] [nvarchar](255) NULL,
	[Payment_Type_Id] [nvarchar](255) NULL,
	[Payment_Type_Code] [nvarchar](255) NULL,
	[Payment_Type_Name] [nvarchar](255) NULL,
	[Payment_Type_Language_Id] [nvarchar](255) NULL,
	[Payment_Service_Provider_Code] [nvarchar](255) NULL,
	[Identification_Number] [nvarchar](255) NULL,
	[Creation_Date] [nvarchar](255) NULL,
	[Inquiry_Request_Id] [nvarchar](255) NULL,
	[Creation_User_Id] [nvarchar](255) NULL,
	[Creation_User_Name] [nvarchar](255) NULL,
	[Status_Id] [nvarchar](255) NULL,
	[Status_Name] [nvarchar](255) NULL,
	[Processing_User_Id] [nvarchar](255) NULL,
	[Processing_User_Name] [nvarchar](255) NULL,
	[Processing_Status_Code] [nvarchar](255) NULL,
	[Processing_Status_Name] [nvarchar](255) NULL,
	[Processing_Status_Code_Indication_Id] [nvarchar](255) NULL,
	[Processing_Status_Code_Indication_Name] [nvarchar](255) NULL,
	[Expiry_Date] [nvarchar](255) NULL,
	[Payment_Date] [nvarchar](255) NULL,
	[Business_Date] [nvarchar](255) NULL,
	[Network_Authorization_No] [nvarchar](255) NULL,
	[Account_Id] [nvarchar](255) NULL,
	[Account_Number] [nvarchar](255) NULL,
	[Account_Name] [nvarchar](255) NULL,
	[Account_Currency] [nvarchar](255) NULL,
	[CurrencyName] [nvarchar](255) NULL,
	[Hold_Number] [nvarchar](255) NULL,
	[Voucher_Number] [nvarchar](255) NULL,
	[Payer_Id] [nvarchar](255) NULL,
	[Payer_ReferenceNumber] [nvarchar](255) NULL,
	[Payer_Identification_Number] [nvarchar](255) NULL,
	[Payer_Name] [nvarchar](255) NULL,
	[Payer_Address] [nvarchar](255) NULL,
	[Payer_Phone] [nvarchar](255) NULL,
	[Added_To_SAF] [nvarchar](255) NULL,
	[Amount_Collection_Status_Id] [nvarchar](255) NULL,
	[Amount_Collection_Status_Name] [nvarchar](255) NULL,
	[Amount_Collection_Way_Id] [nvarchar](255) NULL,
	[Amount_Collection_Way_Code] [nvarchar](255) NULL,
	[Amount_Collection_Way_Name] [nvarchar](255) NULL,
	[Amount_Collector_Id] [nvarchar](255) NULL,
	[Amount_Collector_Code] [nvarchar](255) NULL,
	[Amount_Collector_Name] [nvarchar](255) NULL,
	[Customer_Id] [nvarchar](255) NULL,
	[Customer_Name] [nvarchar](255) NULL,
	[Customer_Number] [nvarchar](255) NULL,
	[Payment_Service_Group_Id] [nvarchar](255) NULL,
	[Payment_Service_Group_Name] [nvarchar](255) NULL,
	[Settlement_Date] [nvarchar](255) NULL,
	[Payment_Processor_Id] [nvarchar](255) NULL,
	[Id1] [nvarchar](255) NULL,
	[Request_Id] [nvarchar](255) NULL,
	[Account_Id1] [nvarchar](255) NULL,
	[Amount] [nvarchar](255) NULL,
	[Sender_Request_Number] [nvarchar](255) NULL,
	[Customer_Settlement_Account_Code] [nvarchar](255) NULL,
	[Customer_Settlement_Account_Name] [nvarchar](255) NULL,
	[Account_Number1] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[Creation_Date1] [nvarchar](255) NULL,
	[Confirmation_Sent] [nvarchar](255) NULL,
	[Status_Id1] [nvarchar](255) NULL,
	[Transaction_Number] [nvarchar](255) NULL,
	[Settlement_Date_Time] [nvarchar](255) NULL,
	[Authorization_Date_Time] [nvarchar](255) NULL,
	[Total_Authorization_Amount] [nvarchar](255) NULL,
	[Amount_Fees] [nvarchar](255) NULL,
	[Total_Request_Amount] [nvarchar](255) NULL,
	[Claim_Payment_Request_Number] [nvarchar](255) NULL,
	[Card_Payment_Initiation_Request_Status_NameAr] [nvarchar](255) NULL,
	[Payment_Service_Payment_Type_Localized_Name] [nvarchar](255) NULL,
	[Payment_Service_Payment_Type_Localized_Language_Id] [nvarchar](255) NULL,
	[Confirmation_Sent_NO] [nvarchar](255) NULL,
	[Card_Payment_Initiation_Request_Response_Code] [nvarchar](255) NULL,
	[Card_Payment_Initiation_Request_Response_Code_Name] [nvarchar](255) NULL,
	[Payment_Type_Id1] [nvarchar](255) NULL,
	[Code] [nvarchar](255) NULL,
	[Card_Payment_Initiation_Request_Response_Code_Id] [nvarchar](255) NULL,
	[Payment_Mechanism_Id] [nvarchar](255) NULL,
	[Payment_Mechanism_Name] [nvarchar](255) NULL,
	[Payment_Mechanism_Type_Id] [nvarchar](255) NULL,
	[Payment_Mechanism_Type_Name] [nvarchar](255) NULL,
	[Customer_Mobile_Number] [nvarchar](255) NULL,
	[Customer_Email] [nvarchar](255) NULL,
	[Payment_Confirmation_URL] [nvarchar](255) NULL,
	[Payment_Confirmation_Redirect_URL] [nvarchar](255) NULL,
	[Request_Number] [nvarchar](255) NULL,
	[Confirmation_Status_Id] [nvarchar](255) NULL,
	[Card_Payment_Initiation_Request_Confirmation_Status_Name] [nvarchar](255) NULL,
	[Claim_Payment_Request_Id] [nvarchar](255) NULL,
	[SessionKey] [nvarchar](max) NULL,
	[Authorization_Code] [nvarchar](255) NULL,
	[Network_Authorization_No1] [nvarchar](255) NULL,
	[Auth_Code] [nvarchar](255) NULL,
	[Confirmation_Send_Trials] [nvarchar](255) NULL,
	[Authorizing_Institution] [nvarchar](255) NULL,
	[Claim_Payment_Request_Status_Id] [nvarchar](255) NULL,
	[Claim_Payment_Request_Processing_Status_Code] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NationalityLkp]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NationalityLkp](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Nationalityname] [varchar](50) NOT NULL,
 CONSTRAINT [PK_NationalityLkp] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationData]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationData](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Fk_Taxpayer_Id] [uniqueidentifier] NOT NULL,
	[Notification_Type_Id] [int] NULL,
	[Time] [datetime] NULL,
	[IsSeen] [bit] NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_Notification_Data] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationType]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationType](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Message] [text] NULL,
	[IsMailed] [bit] NULL,
	[SendMailPeriod] [int] NULL,
	[LastEmailSentDate] [datetime] NULL,
 CONSTRAINT [PK_Notification_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner](
	[id] [uniqueidentifier] NOT NULL,
	[PartnerName] [varchar](100) NULL,
	[PartnerUniqueTaxNum] [char](9) NULL,
	[NationalNum] [char](14) NULL,
	[TaxpayerId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Partner] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ControllerName] [nvarchar](100) NULL,
	[ActionName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubActivities]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubActivities](
	[id] [uniqueidentifier] NOT NULL,
	[SubActivityName] [varchar](100) NULL,
	[Ma2moraiaName] [varchar](100) NULL,
	[TaxpayerId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SubActivities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[taxidremoval]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[taxidremoval](
	[tax_id] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaxpayerActivities]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxpayerActivities](
	[Activity_Id] [uniqueidentifier] NOT NULL,
	[Fk_Taxpayer_Id] [uniqueidentifier] NULL,
	[Unique_Tax_Id] [nchar](9) NULL,
	[File_Number] [nvarchar](16) NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](100) NULL,
	[IsGeha] [bit] NOT NULL,
	[Geha_Code] [nchar](9) NULL,
	[IsConfirmed] [bit] NOT NULL,
 CONSTRAINT [PK_TaxpayerActivities] PRIMARY KEY CLUSTERED 
(
	[Activity_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaxpayerCategories]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxpayerCategories](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Category_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaxpayerCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaxpayerTypes]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxpayerTypes](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Type_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaxpayerTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProfitsLegalPersonsBank_107]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProfitsLegalPersonsBank_107](
	[ProfitsLegalID] [uniqueidentifier] NOT NULL,
	[TaxPayerID] [uniqueidentifier] NULL,
	[DeclarationYear] [int] NULL,
	[DeclarationType] [smallint] NULL,
	[DeclarationData] [xml] NULL,
	[IsDeleted] [bit] NULL,
	[ViewSnapshot] [nvarchar](max) NULL,
	[PaidMoney] [int] NULL,
	[PaymentTypeID] [smallint] NULL,
	[IsAccepted] [bit] NULL,
 CONSTRAINT [PK_tblProfitsLegalPersonsBank_107] PRIMARY KEY CLUSTERED 
(
	[ProfitsLegalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[User_Name] [nvarchar](100) NULL,
	[Fk_Taxpayer_Id] [uniqueidentifier] NOT NULL,
	[Fk_AccountantID] [int] NULL,
	[Unique_Tax_Id] [nchar](9) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[User_Type] [smallint] NOT NULL,
	[IsActive] [bit] NULL,
	[SubscriptionEndDate] [date] NULL,
	[HashedPassword] [nvarchar](max) NOT NULL,
	[IsLogin] [bit] NULL,
	[SessionID] [nvarchar](100) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTaxpayerActivities]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTaxpayerActivities](
	[Id] [int] NOT NULL,
	[Fk_Taxpayer_Activity_Id] [uniqueidentifier] NOT NULL,
	[Fk_User_Id] [int] NOT NULL,
 CONSTRAINT [PK_UsersTaxpayerActivities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersToRoles]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersToRoles](
	[Id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Fk_User_Id] [int] NOT NULL,
	[Fk_Taxpayer_Id] [uniqueidentifier] NOT NULL,
	[Fk_Roles_Id] [int] NOT NULL,
 CONSTRAINT [PK_UsersToRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[Id] [smallint] NOT NULL,
	[User_Type_Descritption] [nvarchar](30) NULL,
 CONSTRAINT [PK_UserTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VActivitiesType]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VActivitiesType](
	[id] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Fk_Taxpayer_Id] [uniqueidentifier] NOT NULL,
	[BB] [bit] NULL,
	[BB_OR] [bit] NULL,
	[BB_ORV] [nvarchar](50) NULL,
	[BB_SA] [bit] NULL,
	[BB_SAV] [nvarchar](50) NULL,
	[BB_MS] [bit] NULL,
	[BB_MSV] [nvarchar](50) NULL,
	[BB_Oth] [bit] NULL,
	[BB_OthN] [nvarchar](50) NULL,
	[BB_OthV] [nvarchar](50) NULL,
	[BB_Oth1] [bit] NULL,
	[BB_OthN1] [nvarchar](50) NULL,
	[BB_OthV1] [nvarchar](50) NULL,
	[BB_Oth2] [bit] NULL,
	[BB_OthN2] [nvarchar](50) NULL,
	[BB_OthV2] [nvarchar](50) NULL,
	[CC] [bit] NULL,
	[CC_POS] [bit] NULL,
	[CC_POS_MS] [bit] NULL,
	[CC_POS_MSV] [nvarchar](50) NULL,
	[CC_POS_AP] [bit] NULL,
	[CC_POS_APV] [nvarchar](50) NULL,
	[CC_POS_ST] [bit] NULL,
	[CC_POS_STV] [nvarchar](50) NULL,
	[CC_POS_Oth] [bit] NULL,
	[CC_POS_OthN] [nvarchar](50) NULL,
	[CC_POS_OthV] [nvarchar](50) NULL,
	[CC_POS_Oth1] [bit] NULL,
	[CC_POS_OthN1] [nvarchar](50) NULL,
	[CC_POS_OthV1] [nvarchar](50) NULL,
	[CC_POS_Oth2] [bit] NULL,
	[CC_POS_OthN2] [nvarchar](50) NULL,
	[CC_POS_OthV2] [nvarchar](50) NULL,
	[CC_CR] [bit] NULL,
	[CC_CRN] [nvarchar](50) NULL,
	[CC_CRC] [nvarchar](50) NULL,
	[CC_CROthN] [nvarchar](50) NULL,
	[CC_CROthC] [nvarchar](50) NULL,
 CONSTRAINT [PK_VActivitiesType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Fk_Taxpayer_Id]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [IDX_Fk_Taxpayer_Id] ON [dbo].[NotificationData]
(
	[Fk_Taxpayer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_TaxpayerId]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [IDX_TaxpayerId] ON [dbo].[Partner]
(
	[TaxpayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_Taxpayer_6_885578193__K23]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [_dta_index_Taxpayer_6_885578193__K23] ON [dbo].[Taxpayer]
(
	[DistrictVAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [_dta_index_Taxpayer_6_885578193__K23_K12_K2_K3_K4_K8_K9]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [_dta_index_Taxpayer_6_885578193__K23_K12_K2_K3_K4_K8_K9] ON [dbo].[Taxpayer]
(
	[DistrictVAT] ASC,
	[Create_Date] ASC,
	[Unique_Tax_Id] ASC,
	[Taxpayer_Name] ASC,
	[Taxpayer_Address] ASC,
	[Taxpayer_Email] ASC,
	[Taxpayer_Telephone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [<Name of Missing Index, sysname,>]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [<Name of Missing Index, sysname,>] ON [dbo].[Taxpayer]
(
	[Taxpayer_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Taxpayer_RECM_DBA]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Taxpayer_RECM_DBA] ON [dbo].[Taxpayer]
(
	[National_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Taxpayer_RECM2_DBA_Taxpayer_Id]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Taxpayer_RECM2_DBA_Taxpayer_Id] ON [dbo].[Taxpayer]
(
	[National_Id] ASC,
	[Taxpayer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Taxpayer_unID]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [Taxpayer_unID] ON [dbo].[Taxpayer]
(
	[Unique_Tax_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_taxpay_id]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [idx_taxpay_id] ON [dbo].[TaxpayerActivities]
(
	[Fk_Taxpayer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [TaxpayerActivities_idx]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [TaxpayerActivities_idx] ON [dbo].[TaxpayerActivities]
(
	[Unique_Tax_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [<Name of Missing Index, sysname,>]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [<Name of Missing Index, sysname,>] ON [dbo].[Users]
(
	[Password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Fk_AccountantID_INCLUDE_User_Name_Password_IsActive]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [IDX_Fk_AccountantID_INCLUDE_User_Name_Password_IsActive] ON [dbo].[Users]
(
	[Fk_AccountantID] ASC
)
INCLUDE([User_Name],[Password],[IsActive]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_name]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [idx_users_name] ON [dbo].[Users]
(
	[User_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_RECM_DBA]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_RECM_DBA] ON [dbo].[Users]
(
	[Unique_Tax_Id] ASC,
	[User_Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 60) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_RECM2_DBA]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_RECM2_DBA] ON [dbo].[Users]
(
	[Unique_Tax_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 60) ON [PRIMARY]
GO
/****** Object:  Index [users_fk_id]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [users_fk_id] ON [dbo].[Users]
(
	[Fk_Taxpayer_Id] ASC
)
INCLUDE([User_Name],[Unique_Tax_Id],[Password]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
/****** Object:  Index [vactivities_type_taxpay_id]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [vactivities_type_taxpay_id] ON [dbo].[VActivitiesType]
(
	[Fk_Taxpayer_Id] ASC
)
INCLUDE([BB],[BB_OR],[BB_ORV],[BB_SA],[BB_SAV],[BB_MS],[BB_MSV],[BB_Oth],[BB_OthN],[BB_OthV],[BB_Oth1],[BB_OthN1],[BB_OthV1],[BB_Oth2],[BB_OthN2],[BB_OthV2],[CC],[CC_POS],[CC_POS_MS],[CC_POS_MSV],[CC_POS_AP],[CC_POS_APV],[CC_POS_ST],[CC_POS_STV],[CC_POS_Oth],[CC_POS_OthN],[CC_POS_OthV],[CC_POS_Oth1],[CC_POS_OthN1],[CC_POS_OthV1],[CC_POS_Oth2],[CC_POS_OthN2],[CC_POS_OthV2],[CC_CR],[CC_CRN],[CC_CRC]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [_dta_index__dta_mv_17_6_2123154609__K1]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [_dta_index__dta_mv_17_6_2123154609__K1] ON [dbo].[_dta_mv_17]
(
	[_col_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [_dta_index__dta_mv_30_6_39671189__K2]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [_dta_index__dta_mv_30_6_39671189__K2] ON [dbo].[_dta_mv_30]
(
	[_col_2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
GO
/****** Object:  Index [_dta_index__dta_mv_69_6_295672101__K4]    Script Date: 9/12/2021 10:38:37 AM ******/
CREATE NONCLUSTERED INDEX [_dta_index__dta_mv_69_6_295672101__K4] ON [dbo].[_dta_mv_69]
(
	[_col_4] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = ON, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accountants] ADD  DEFAULT ((0)) FOR [IsUpdated]
GO
ALTER TABLE [dbo].[FileNumberStatus] ADD  CONSTRAINT [DF_FileNumberStatus_IsSelected]  DEFAULT ((0)) FOR [IsSelected]
GO
ALTER TABLE [dbo].[FileNumberStatus] ADD  CONSTRAINT [DF_FileNumberStatus_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Taxpayer] ADD  CONSTRAINT [DF_Taxpayer_IsUpdated]  DEFAULT ((0)) FOR [IsUpdated]
GO
ALTER TABLE [dbo].[Taxpayer] ADD  CONSTRAINT [DF_SubscriptionEndDate]  DEFAULT (dateadd(day,(-1),getdate())) FOR [SubscriptionEndDate]
GO
ALTER TABLE [dbo].[Taxpayer] ADD  DEFAULT ((0)) FOR [IsEarnWork]
GO
ALTER TABLE [dbo].[tblProfitsLegalPersonsBank_107] ADD  CONSTRAINT [DF_tblProfitsLegalPersonsBank_107_IsAccepted]  DEFAULT ((0)) FOR [IsAccepted]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_User_Type]  DEFAULT ((1)) FOR [User_Type]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [HashedPassword]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsLogin]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [SessionID]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_BB]  DEFAULT ('false') FOR [BB]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_BB_OR]  DEFAULT ('false') FOR [BB_OR]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_BB_SA]  DEFAULT ('false') FOR [BB_SA]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_BB_MS]  DEFAULT ('false') FOR [BB_MS]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_BB_Oth]  DEFAULT ('false') FOR [BB_Oth]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_BB_Oth1]  DEFAULT ('false') FOR [BB_Oth1]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_BB_Oth2]  DEFAULT ('false') FOR [BB_Oth2]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_CC]  DEFAULT ('false') FOR [CC]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_CC_POS]  DEFAULT ('false') FOR [CC_POS]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_CC_POS_MS]  DEFAULT ('false') FOR [CC_POS_MS]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_CC_POS_AP]  DEFAULT ('false') FOR [CC_POS_AP]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_CC_POS_ST]  DEFAULT ('false') FOR [CC_POS_ST]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_CC_POS_Oth]  DEFAULT ('false') FOR [CC_POS_Oth]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_CC_POS_Oth1]  DEFAULT ('false') FOR [CC_POS_Oth1]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_CC_POS_Oth2]  DEFAULT ('false') FOR [CC_POS_Oth2]
GO
ALTER TABLE [dbo].[VActivitiesType] ADD  CONSTRAINT [DF_VActivitiesType_CC_CR]  DEFAULT ('false') FOR [CC_CR]
GO
ALTER TABLE [dbo].[DistrictsAccounts]  WITH CHECK ADD  CONSTRAINT [FK_DistrictsAccounts_DistrictsDetails] FOREIGN KEY([District])
REFERENCES [dbo].[DistrictsDetails] ([Id])
GO
ALTER TABLE [dbo].[DistrictsAccounts] CHECK CONSTRAINT [FK_DistrictsAccounts_DistrictsDetails]
GO
ALTER TABLE [dbo].[NotificationData]  WITH CHECK ADD  CONSTRAINT [FK_NotificationData_NotificationType] FOREIGN KEY([Notification_Type_Id])
REFERENCES [dbo].[NotificationType] ([ID])
GO
ALTER TABLE [dbo].[NotificationData] CHECK CONSTRAINT [FK_NotificationData_NotificationType]
GO
ALTER TABLE [dbo].[Partner]  WITH CHECK ADD  CONSTRAINT [FK_Partner_Taxpayer] FOREIGN KEY([TaxpayerId])
REFERENCES [dbo].[Taxpayer] ([Taxpayer_Id])
GO
ALTER TABLE [dbo].[Partner] CHECK CONSTRAINT [FK_Partner_Taxpayer]
GO
ALTER TABLE [dbo].[SubActivities]  WITH CHECK ADD  CONSTRAINT [FK_SubActivities_Taxpayer] FOREIGN KEY([TaxpayerId])
REFERENCES [dbo].[Taxpayer] ([Taxpayer_Id])
GO
ALTER TABLE [dbo].[SubActivities] CHECK CONSTRAINT [FK_SubActivities_Taxpayer]
GO
ALTER TABLE [dbo].[Taxpayer]  WITH CHECK ADD  CONSTRAINT [FK_Taxpayer_EcoCat] FOREIGN KEY([EconomicCategory])
REFERENCES [dbo].[EconomicCategoryLkp] ([id])
GO
ALTER TABLE [dbo].[Taxpayer] CHECK CONSTRAINT [FK_Taxpayer_EcoCat]
GO
ALTER TABLE [dbo].[Taxpayer]  WITH CHECK ADD  CONSTRAINT [FK_Taxpayer_Nationality] FOREIGN KEY([Nationality])
REFERENCES [dbo].[NationalityLkp] ([ID])
GO
ALTER TABLE [dbo].[Taxpayer] CHECK CONSTRAINT [FK_Taxpayer_Nationality]
GO
ALTER TABLE [dbo].[Taxpayer]  WITH CHECK ADD  CONSTRAINT [FK_Taxpayer_TaxpayerCategory] FOREIGN KEY([Fk_Taxpayer_Category_Id])
REFERENCES [dbo].[TaxpayerCategories] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Taxpayer] CHECK CONSTRAINT [FK_Taxpayer_TaxpayerCategory]
GO
ALTER TABLE [dbo].[Taxpayer]  WITH CHECK ADD  CONSTRAINT [FK_Taxpayer_TaxpayerTypes] FOREIGN KEY([Fk_Taxpayer_Type])
REFERENCES [dbo].[TaxpayerTypes] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Taxpayer] CHECK CONSTRAINT [FK_Taxpayer_TaxpayerTypes]
GO
ALTER TABLE [dbo].[TaxpayerActivities]  WITH CHECK ADD  CONSTRAINT [FK_TaxpayerActivities_Taxpayer] FOREIGN KEY([Fk_Taxpayer_Id])
REFERENCES [dbo].[Taxpayer] ([Taxpayer_Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TaxpayerActivities] CHECK CONSTRAINT [FK_TaxpayerActivities_Taxpayer]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Users] FOREIGN KEY([User_Type])
REFERENCES [dbo].[UserTypes] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Users]
GO
ALTER TABLE [dbo].[UsersTaxpayerActivities]  WITH CHECK ADD  CONSTRAINT [FK_UsersTaxpayerActivities_TaxpayerActivities] FOREIGN KEY([Fk_Taxpayer_Activity_Id])
REFERENCES [dbo].[TaxpayerActivities] ([Activity_Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[UsersTaxpayerActivities] CHECK CONSTRAINT [FK_UsersTaxpayerActivities_TaxpayerActivities]
GO
ALTER TABLE [dbo].[UsersTaxpayerActivities]  WITH CHECK ADD  CONSTRAINT [FK_UsersTaxpayerActivities_Users] FOREIGN KEY([Fk_User_Id])
REFERENCES [dbo].[Users] ([User_Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[UsersTaxpayerActivities] CHECK CONSTRAINT [FK_UsersTaxpayerActivities_Users]
GO
ALTER TABLE [dbo].[UsersToRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersToRoles_Roles] FOREIGN KEY([Fk_Roles_Id])
REFERENCES [dbo].[Roles] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[UsersToRoles] CHECK CONSTRAINT [FK_UsersToRoles_Roles]
GO
ALTER TABLE [dbo].[UsersToRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersToRoles_Users] FOREIGN KEY([Fk_User_Id])
REFERENCES [dbo].[Users] ([User_Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[UsersToRoles] CHECK CONSTRAINT [FK_UsersToRoles_Users]
GO
/****** Object:  StoredProcedure [dbo].[CheckAccountActiveMail]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Asmaa Gad Ali >
-- Create date: <Create Date,,13-07-2015>
-- Description:	<Description,check if the account active or not >
-- =============================================
CREATE PROCEDURE [dbo].[CheckAccountActiveMail]
(
@registration_number nvarchar(10)
)
AS
BEGIN
 SELECT Email_IsConfirmed
 FROM Taxpayer
 WHERE Unique_Tax_Id=@registration_number
END



GO
/****** Object:  StoredProcedure [dbo].[Get_TaxPayer]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Asmaa Gad Ali >
-- Create date: <Create Date,21-07-2015>
-- Description:	<Description,get the specific  taxpayer>
-- =============================================
CREATE PROCEDURE [dbo].[Get_TaxPayer]
(
@Email_Confirmation_Code nvarchar(50)
)
AS
BEGIN
select [Unique_Tax_Id]
      ,[Taxpayer_Email]
      ,[Taxpayer_Name]
      ,[Taxpayer_Address]
      ,[Fk_Taxpayer_Type]
      ,[Fk_Taxpayer_Category_Id]
   
      ,[Taxpayer_Telephone]
      ,[Taxpayer_Fax]
      ,[National_Id]
      ,[Create_Date]
      ,[Modify_Date]
      ,[Email_Confirmation_Code]
      ,[Email_IsConfirmed]
      ,[Account_IsConfirmed]
	  FROM Taxpayer
	  WHERE [Email_Confirmation_Code]=@Email_Confirmation_Code
END



GO
/****** Object:  StoredProcedure [dbo].[Insert_Activity]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Asmaa Gad Ali>
-- Create date: <Create Date,21-07-2015>
-- Description:	<Description,insert the Activity of the client>
-- =============================================
CREATE PROCEDURE [dbo].[Insert_Activity]
(
@Activity_Id nvarchar(50)
      ,@Fk_Taxpayer_Id uniqueidentifier
      ,@Unique_Tax_Id nchar (9)
      ,@File_Number nchar(16)
      ,@Name nvarchar(100)
      ,@Address nvarchar(100)
      ,@IsGeha bit
      ,@Geha_Code nchar(9)
      ,@IsConfirmed bit 
	  )
AS
BEGIN
insert into TaxpayerActivities
(
 Activity_Id 
      , Fk_Taxpayer_Id 
      , Unique_Tax_Id 
      , File_Number 
      , Name 
      , [Address]
      , IsGeha 
      , Geha_Code 
      , IsConfirmed 
	  )
	  values
	  (
	  @Activity_Id 
      ,@Fk_Taxpayer_Id 
      ,@Unique_Tax_Id 
      ,@File_Number 
      ,@Name 
      ,@Address 
      ,@IsGeha 
      ,@Geha_Code 
      ,@IsConfirmed
	  )
	  end



GO
/****** Object:  StoredProcedure [dbo].[Insert_User]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Asmaa Gad Ali >
-- Create date: <Create Date,22-07-2015>
-- Description:	<Description,Add user >
-- =============================================
CREATE PROCEDURE [dbo].[Insert_User]
(
       @User_Name  NVARCHAR(100)
      ,@Fk_Taxpayer_Id uniqueidentifier --nvarchar(50)
      ,@Unique_Tax_Id  nvarchar(9)
      ,@Password  nvarchar(50)
	  ,@User_Type  smallint
	  ,@Fk_AccountantID  int
)
AS
BEGIN
INSERT INTO Users 
(      [User_Name]
      ,[Fk_Taxpayer_Id]
      ,[Unique_Tax_Id]
      ,[Password]
	  ,[User_Type]
	  ,[Fk_AccountantID])
	  VALUES
	  (  
	   @User_Name  
      ,@Fk_Taxpayer_Id  
      ,@Unique_Tax_Id  
      ,@Password
	  ,@User_Type
	  ,@Fk_AccountantID  
	  )
END

GO
/****** Object:  StoredProcedure [dbo].[pro_Get_RegistrationCode]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Asmaa Gad Ali >
-- Create date: <Create Date,07-07-2015>
-- Description:	<Description,get taxpayer email with registeration code >
-- =============================================
CREATE PROCEDURE  [dbo].[pro_Get_RegistrationCode]
(
 @Unique_Tax_ID nchar(10)
)

AS
BEGIN
------------------------get the code & email -------------------------------------------
select Email_Confirmation_Code ,Taxpayer_Email   
FROM Taxpayer
Where 
Unique_Tax_Id=@Unique_Tax_ID

END


GO
/****** Object:  StoredProcedure [dbo].[pro_Insert_TaxPayer]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,Asmaa Gad Ali >
-- Create date: <Create Date,07-07-2015>
-- Description:	<Description,insert taxpayer with registeration code >
-- =============================================
CREATE PROCEDURE [dbo].[pro_Insert_TaxPayer]
(     @Taxpayer_Id uniqueidentifier
      ,@Unique_Tax_Id nchar(9)
      ,@Taxpayer_Name nvarchar(100)
      ,@Taxpayer_Address nvarchar(100)
	  ,@Taxpayer_ContactAddress nvarchar(100)
      ,@Fk_Taxpayer_Type int
      ,@Fk_Taxpayer_Category_Id int
      ,@Taxpayer_Email nvarchar(50)
      ,@Taxpayer_Telephone nchar(20)
	  ,@DistrictVAT nvarchar(3)
      ,@Taxpayer_Fax nchar(20)
      ,@National_Id nchar(14)
	  ,@PassportNum nvarchar(50)
      ,@Create_Date datetime
      ,@Modify_Date datetime
       ,@AgentName nvarchar(50)
	   ,@AgentNationalId nvarchar(14),
	   @AuthNum nvarchar(50)
      ,@Email_IsConfirmed bit
      ,@Account_IsConfirmed bit
	  ,@District nvarchar(3)
	  ,@RegistrationCode nvarchar(20)
	   ,@IsValueAdded bit
	  ,@IsTableItem bit
	   output)
	 
AS
BEGIN
------------------------generate the code -------------------------------------------
select    @RegistrationCode    = isnull(@RegistrationCode, '') 
+ substring('0123456789', (abs(checksum(newid())) % 10) + 1, 1)
from    master..spt_values
where    type    = 'P'
and    number    < 6
-------------------------------------------------------------------------------------
-------------------------insert the code and taxpayer information--------------------
insert into Taxpayer
(      [Taxpayer_Id]
      ,[Unique_Tax_Id]
      ,[Taxpayer_Name]
      ,[Taxpayer_Address]
	  ,[Taxpayer_ContactAddress]
      ,[Fk_Taxpayer_Type]
      ,[Fk_Taxpayer_Category_Id]
      ,[Taxpayer_Email]
      ,[Taxpayer_Telephone]
      ,[Taxpayer_Fax]
      ,[National_Id]
	  ,[PassportNum]
      ,[Create_Date]
      ,[Modify_Date]
      ,[Email_Confirmation_Code]
      ,[Email_IsConfirmed]
      ,[Account_IsConfirmed]
	  ,[District]
	  ,[DistrictVAT]
	  ,[AgentName]
	  ,[AgentNationalId]
	  ,[AuthNum]
	  ,[IsValueAdded]
	  ,[IsTableItem]
	  ) 
values
(
       @Taxpayer_Id
      ,@Unique_Tax_Id 
      ,@Taxpayer_Name 
      ,@Taxpayer_Address 
	  ,@Taxpayer_ContactAddress
      ,@Fk_Taxpayer_Type 
      ,@Fk_Taxpayer_Category_Id 
      ,@Taxpayer_Email 
      ,@Taxpayer_Telephone 
      ,@Taxpayer_Fax 
      ,@National_Id 
	  ,@PassportNum
      ,@Create_Date 
      ,@Modify_Date 
      ,@RegistrationCode 
      ,@Email_IsConfirmed 
      ,@Account_IsConfirmed ,
	   @District
	   ,@DistrictVAT
	  ,@AgentName
	  ,@AgentNationalId
	  ,@AuthNum
	  ,@IsValueAdded 
	  ,@IsTableItem
	   )











END





GO
/****** Object:  StoredProcedure [dbo].[pro_Insert_TaxPayer_old]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Asmaa Gad Ali >
-- Create date: <Create Date,07-07-2015>
-- Description:	<Description,insert taxpayer with registeration code >
-- =============================================
CREATE PROCEDURE [dbo].[pro_Insert_TaxPayer_old]
(     @Taxpayer_Id uniqueidentifier
      ,@Unique_Tax_Id nchar(9)
      ,@Taxpayer_Name nvarchar(100)
      ,@Taxpayer_Address nvarchar(100)
	  ,@Taxpayer_ContactAddress nvarchar(100)
      ,@Fk_Taxpayer_Type int
      ,@Fk_Taxpayer_Category_Id int
      ,@Taxpayer_Email nvarchar(50)
      ,@Taxpayer_Telephone nchar(20)
      ,@Taxpayer_Fax nchar(20)
      ,@National_Id nchar(14)
      ,@Create_Date datetime
      ,@Modify_Date datetime
       ,@AgentName nvarchar(50)
	   ,@AgentNationalId nvarchar(14),
	   @AuthNum nvarchar(50)
      ,@Email_IsConfirmed bit
      ,@Account_IsConfirmed bit
	  ,@District nvarchar(3)
	  ,@RegistrationCode nvarchar(20) output)

AS
BEGIN
------------------------generate the code -------------------------------------------
select    @RegistrationCode    = isnull(@RegistrationCode, '') 
+ substring('0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrst', (abs(checksum(newid())) % 56) + 1, 1)
from    master..spt_values
where    type    = 'P'
and    number    < 10
-------------------------------------------------------------------------------------
-------------------------insert the code and taxpayer information--------------------
insert into Taxpayer
(      [Taxpayer_Id]
      ,[Unique_Tax_Id]
      ,[Taxpayer_Name]
      ,[Taxpayer_Address]
	  ,[Taxpayer_ContactAddress]
      ,[Fk_Taxpayer_Type]
      ,[Fk_Taxpayer_Category_Id]
      ,[Taxpayer_Email]
      ,[Taxpayer_Telephone]
      ,[Taxpayer_Fax]
      ,[National_Id]
      ,[Create_Date]
      ,[Modify_Date]
      ,[Email_Confirmation_Code]
      ,[Email_IsConfirmed]
      ,[Account_IsConfirmed]
	  ,[District]
	  ,[AgentName]
	  ,[AgentNationalId]
	  ,[AuthNum]
	  ) 
values
(
       @Taxpayer_Id
      ,@Unique_Tax_Id 
      ,@Taxpayer_Name 
      ,@Taxpayer_Address 
	  ,@Taxpayer_ContactAddress
      ,@Fk_Taxpayer_Type 
      ,@Fk_Taxpayer_Category_Id 
      ,@Taxpayer_Email 
      ,@Taxpayer_Telephone 
      ,@Taxpayer_Fax 
      ,@National_Id 
      ,@Create_Date 
      ,@Modify_Date 
      ,@RegistrationCode 
      ,@Email_IsConfirmed 
      ,@Account_IsConfirmed ,
	   @District
	   ,@AgentName
	   ,@AgentNationalId
	   ,@AuthNum
	   )











END
GO
/****** Object:  StoredProcedure [dbo].[pro_Insert_TaxPayer_ver2]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		<Author,Asmaa Gad Ali >
-- Create date: <Create Date,07-07-2015>
-- Description:	<Description,insert taxpayer with registeration code >
-- =============================================
CREATE PROCEDURE [dbo].[pro_Insert_TaxPayer_ver2]
(     @Taxpayer_Id uniqueidentifier
      ,@Unique_Tax_Id nchar(9)
      ,@Taxpayer_Name nvarchar(100)
      ,@Taxpayer_Address nvarchar(100)
	  ,@Taxpayer_ContactAddress nvarchar(100)
      ,@Fk_Taxpayer_Type int
      ,@Fk_Taxpayer_Category_Id int
      ,@Taxpayer_Email nvarchar(50)
      ,@Taxpayer_Telephone nchar(20)
	  ,@DistrictVAT nvarchar(3)
      ,@Taxpayer_Fax nchar(20)
      ,@National_Id nchar(14)
      ,@Create_Date datetime
      ,@Modify_Date datetime
       ,@AgentName nvarchar(50)
	   ,@AgentNationalId nvarchar(14),
	   @AuthNum nvarchar(50)
      ,@Email_IsConfirmed bit
      ,@Account_IsConfirmed bit
	  ,@District nvarchar(3)
	  ,@RegistrationCode nvarchar(20)
	   ,@IsValueAdded bit
	  ,@IsTableItem bit
	  ,@Nationality int
	  ,@licenceNum nvarchar(12)
	  ,@firstName nvarchar(50)
	  ,@secondName nvarchar(50)
	  ,@thirdName nvarchar(50)
	  ,@forthName nvarchar(50)
	  ,@BirthDate datetime
	  ,@commercialRegisterNum nvarchar(50)
	  ,@insuranceNum nvarchar(50)
	  ,@bankName nvarchar(50)
	  ,@bankBranchName nvarchar(50)
	 ,@bankAccountNum nvarchar(50)
	 ,@financialYearEnd char(5)
	 ,@EconomicCategory int
	 ,@IsUpdated bit
	 ,@PostalCode nvarchar(50)
	 ,@CompanyName nvarchar(100)
	 ,@MangerName nvarchar(100)
	 ,@TradeName nvarchar(100)
	   )
	 
AS
BEGIN
------------------------generate the code -------------------------------------------
select    @RegistrationCode    = isnull(@RegistrationCode, '') 
+ substring('0123456789', (abs(checksum(newid())) % 10) + 1, 1)
from    master..spt_values
where    type    = 'P'
and    number    < 6
-------------------------------------------------------------------------------------
-------------------------insert the code and taxpayer information--------------------
insert into Taxpayer
(      [Taxpayer_Id]
      ,[Unique_Tax_Id]
      ,[Taxpayer_Name]
      ,[Taxpayer_Address]
	  ,[Taxpayer_ContactAddress]
      ,[Fk_Taxpayer_Type]
      ,[Fk_Taxpayer_Category_Id]
      ,[Taxpayer_Email]
      ,[Taxpayer_Telephone]
      ,[Taxpayer_Fax]
      ,[National_Id]
      ,[Create_Date]
      ,[Modify_Date]
      ,[Email_Confirmation_Code]
      ,[Email_IsConfirmed]
      ,[Account_IsConfirmed]
	  ,[District]
	  ,[DistrictVAT]
	  ,[AgentName]
	  ,[AgentNationalId]
	  ,[AuthNum]
	  ,[IsValueAdded]
	  ,[IsTableItem]
	  ,[Nationality]
	  ,[licenceNum]
	  ,[firstName]
	  ,[secondName]
	  ,[thirdName]
	  ,[forthName]
      ,[BirthDate]
	  ,[commercialRegisterNum]
	  ,[insuranceNum]
	  ,[bankName]
	  ,[bankBranchName]
	  ,[bankAccountNum]
	  ,[financialYearEnd]
	  ,[EconomicCategory]
	  ,[IsUpdated]
	  ,[PostalCode]
	  ,[CompanyName]
	  ,[MangerName]
	  ,[TradeName]
	  ) 
values
(
       @Taxpayer_Id
      ,@Unique_Tax_Id 
      ,@Taxpayer_Name 
      ,@Taxpayer_Address 
	  ,@Taxpayer_ContactAddress
      ,@Fk_Taxpayer_Type 
      ,@Fk_Taxpayer_Category_Id 
      ,@Taxpayer_Email 
      ,@Taxpayer_Telephone 
      ,@Taxpayer_Fax 
      ,@National_Id 
      ,@Create_Date 
      ,@Modify_Date 
      ,@RegistrationCode 
      ,@Email_IsConfirmed 
      ,@Account_IsConfirmed ,
	   @District
	   ,@DistrictVAT
	  ,@AgentName
	  ,@AgentNationalId
	  ,@AuthNum
	  ,@IsValueAdded 
	  ,@IsTableItem
	  ,@Nationality
	  ,@licenceNum
	  ,@firstName
	  ,@secondName
	  ,@thirdName
	  ,@forthName
	  ,@BirthDate
	  ,@commercialRegisterNum
	   ,@insuranceNum
	   ,@bankName
	   ,@bankBranchName
	   ,@bankAccountNum
	   ,@financialYearEnd
	   ,@EconomicCategory
	   ,@IsUpdated
	   ,@PostalCode
	   ,@CompanyName
	   ,@MangerName 
	   ,@TradeName 
	   )











END






GO
/****** Object:  StoredProcedure [dbo].[Set_ConfirmOnMail]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Asmaa GAd Ali>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Set_ConfirmOnMail]
(
@ConfirmEmail bit,
@RegistrationCode nvarchar(100)
)
AS
BEGIN
update  Taxpayer set Email_IsConfirmed = @ConfirmEmail


 WHERE Unique_Tax_Id=@RegistrationCode
END


GO
/****** Object:  StoredProcedure [dbo].[sp_GetRowSize]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_GetRowSize](@Tablename varchar(100),@pkcol varchar(100))
AS 
BEGIN
declare @dynamicsql varchar(1000)

-- A @pkcol can be used to identify max/min length row
set @dynamicsql = 'select ' + @PkCol +' , (0'

-- traverse each record and calculate the datalength
select @dynamicsql = @dynamicsql + ' + isnull(datalength(' + name + '), 1)' 
	from syscolumns where id = object_id(@Tablename)
set @dynamicsql = @dynamicsql + ') as rowsize from ' + @Tablename 


exec (@dynamicsql)

END


GO
/****** Object:  StoredProcedure [dbo].[SP_Inquery_GPS_Sales_Tax_Payments]    Script Date: 9/12/2021 10:38:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Inquery_GPS_Sales_Tax_Payments] 
@registeration_Number varchar(10) = NULL,
@tax_Period DATE= NULL
AS

DECLARE @smalldatetime smalldatetime = @tax_Period;  
DECLARE @date date;  
IF @tax_Period IS NOT NULL
BEGIN
	SET @date = @smalldatetime  
END

SELECT * FROM [TaxPaymentDB].[dbo].[GPS_Sales_Tax_Payments_View]
WHERE 
Registration_Number = @registeration_Number AND Tax_Period = @date
									 
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-Pending ; 2:Done' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ChangeEmailRequest', @level2type=N'COLUMN',@level2name=N'StatusId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رقم التسجيل الضريبي الموحد' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Taxpayer', @level2type=N'COLUMN',@level2name=N'Unique_Tax_Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'اسم الممول' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Taxpayer', @level2type=N'COLUMN',@level2name=N'Taxpayer_Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'عنوان الممول' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Taxpayer', @level2type=N'COLUMN',@level2name=N'Taxpayer_Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'عنوان الممول' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Taxpayer', @level2type=N'COLUMN',@level2name=N'Taxpayer_ContactAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'نوع الممول (طبيعي/إعتباري)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Taxpayer', @level2type=N'COLUMN',@level2name=N'Fk_Taxpayer_Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'فئـة الممول' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Taxpayer', @level2type=N'COLUMN',@level2name=N'Fk_Taxpayer_Category_Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'البريد الإلكتروني' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Taxpayer', @level2type=N'COLUMN',@level2name=N'Taxpayer_Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رقم الممول' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Taxpayer', @level2type=N'COLUMN',@level2name=N'Taxpayer_Telephone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'فاكس' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Taxpayer', @level2type=N'COLUMN',@level2name=N'Taxpayer_Fax'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'الرقم القومي' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Taxpayer', @level2type=N'COLUMN',@level2name=N'National_Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تاريخ التسجيل' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Taxpayer', @level2type=N'COLUMN',@level2name=N'Create_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تاريخ التعديل' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Taxpayer', @level2type=N'COLUMN',@level2name=N'Modify_Date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'كود تفعيل البريد الإلكتروني' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Taxpayer', @level2type=N'COLUMN',@level2name=N'Email_Confirmation_Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تأكيد الإيميل' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Taxpayer', @level2type=N'COLUMN',@level2name=N'Email_IsConfirmed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'تأكيد الحساب' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Taxpayer', @level2type=N'COLUMN',@level2name=N'Account_IsConfirmed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رقم التسجيل الضريبي الموحد' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TaxpayerActivities', @level2type=N'COLUMN',@level2name=N'Unique_Tax_Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'رقم الملف' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TaxpayerActivities', @level2type=N'COLUMN',@level2name=N'File_Number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'اسم الممول' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TaxpayerActivities', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'عنوان الممول' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TaxpayerActivities', @level2type=N'COLUMN',@level2name=N'Address'
GO
