CREATE DATABASE [Staging_Area]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Staging_Area', FILENAME = N'D:\MSSQL14.TXBIDB\MSSQL\DATA\Staging_Area.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Staging_Area_log', FILENAME = N'D:\MSSQL14.TXBIDB\MSSQL\DATA\Staging_Area_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 COLLATE Arabic_100_CI_AI
GO
USE [Staging_Area]
GO
USE [Staging_Area]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Staging_Area] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
